{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4">Add Note</h2>
    <form>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="title" placeholder="Note Title">
            <label for="title">Note Title</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Note Description</label>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}